absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.8.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
autopage==0.5.1
bert-score==0.3.11
blis==0.9.1
cachetools==5.0.0
catalogue==2.0.8
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
cliff==4.0.0
cmaes==0.8.2
cmd2==2.4.2
colorama==0.4.5
colorlog==6.7.0
confection==0.0.1
cycler==0.11.0
cymem==2.0.6
datasets==1.18.4
decorator==5.1.1
dill==0.3.4
distlib==0.3.4
easse @ file:///root/easse
easyocr==1.4.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
filelock==3.6.0
flatbuffers==2.0
fonttools==4.34.4
frozenlist==1.3.0
fsspec==2022.2.0
future==0.18.2
gast==0.5.3
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.3
grpcio==1.43.0
h5py==3.6.0
huggingface-hub==0.4.0
idna==3.3
imageio==2.19.3
importlib-metadata==4.11.2
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.6.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.3
langcodes==3.3.0
libclang==13.0.0
Mako==1.2.3
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.2
msgpack==1.0.4
multidict==6.0.2
multiprocess==0.70.12.2
murmurhash==1.0.8
networkx==2.4
nltk==3.7
numpy==1.22.2
oauthlib==3.2.0
opencv-python-headless==4.5.4.60
opt-einsum==3.3.0
optuna==3.0.2
packaging==21.3
pandas==1.4.1
pathy==0.6.2
pbr==5.10.0
Pillow==9.0.1
platformdirs==2.5.2
plotly==5.9.0
portalocker==2.5.1
preshed==3.0.7
prettytable==3.4.1
protobuf==3.19.4
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.9.2
pyDeprecate==0.3.0
pyparsing==3.0.7
pyperclip==1.8.2
pyrsistent==0.18.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-Levenshtein==0.12.2
pytorch-lightning==1.3.1
pytz==2021.3
PyWavelets==1.3.0
PyYAML==5.4.1
ray==1.13.0
regex==2022.3.2
requests==2.27.1
requests-oauthlib==1.3.1
responses==0.18.0
rsa==4.8
sacrebleu==2.1.0
sacremoses==0.0.47
scikit-image==0.19.2
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
sentencepiece==0.1.96
seqeval==1.2.2
simalign==0.3
six==1.16.0
sklearn==0.0
smart-open==5.2.1
smmap==5.0.0
spacy==3.4.1
spacy-legacy==3.0.10
spacy-loggers==1.0.3
SQLAlchemy==1.4.41
srsly==2.4.4
stanfordnlp==0.2.0
stevedore==4.0.0
tabulate==0.8.10
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
thinc==8.1.1
threadpoolctl==3.1.0
tifffile==2022.5.4
tokenizers==0.10.3
torch @ https://download.pytorch.org/whl/cu113/torch-1.10.2%2Bcu113-cp39-cp39-linux_x86_64.whl
torchaudio @ https://download.pytorch.org/whl/cu113/torchaudio-0.10.2%2Bcu113-cp39-cp39-linux_x86_64.whl
torchmetrics==0.6.1
torchtext==0.5.0
torchvision @ https://download.pytorch.org/whl/cu113/torchvision-0.11.3%2Bcu113-cp39-cp39-linux_x86_64.whl
tqdm==4.63.0
transformers==4.15.0
tseval @ git+https://github.com/facebookresearch/text-simplification-evaluation.git@f335e2e27026321c7c3d1dd63857416c7e7397b2
typer==0.4.2
typing_extensions==4.1.1
urllib3==1.26.8
virtualenv==20.14.1
wasabi==0.10.1
wcwidth==0.2.5
Werkzeug==2.0.3
wrapt==1.14.0
xxhash==3.0.0
yarl==1.7.2
yattag==1.14.0
zipp==3.7.0
